<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/home">
    <div class="sidebar-brand-icon">
      <img src="assets/images/logo-icon-all-white.png" height="52em" />
    </div>
    <div class="sidebar-brand-text text-left">
      <span class="d-block">Caça -</span><span class="d-block ml-3">Talentos</span>
    </div>
  </a>

  <hr class="sidebar-divider my-0">

  <li class="nav-item active">
    <a class="nav-link" routerLink="/home" ariaCurrentWhenActive="page">
      <i class="fas fa-fw fa-home"></i>
      <span>Home</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" routerLink="/vagas" ariaCurrentWhenActive="page">
      <i class="fas fa-fw fa-user"></i>
      <span>Vagas</span></a>
  </li>

  <hr class="sidebar-divider">

  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
